# Database Connection String
# Renomeie este arquivo para .env e configure sua connection string

# Para banco local:
DATABASE_URL=postgresql://postgres:abcadvise@2026@localhost:5432/postgres

# Para banco Supabase (exemplo):
# DATABASE_URL=postgresql://postgres.hccolkrnyrxcbxuuajwq:1d8vUnUlDXT7cmox@aws-0-sa-east-1.pooler.supabase.com:5432/postgres
